@import '../../styles/theme.scss';
.progress {
  margin: $indent-10;
  .outside-circle {
    width: $progress-outside-circle;
    height: $progress-outside-circle;
    background: #fefcff;
    border-radius: $border-radius-circle;
    border: 1px solid $secondary-color;
    margin: $indent-two-sides-10-auto;
    &__mask,
    .fill {
      width: inherit;
      height: inherit;
      position: absolute;
      border-radius: $border-radius-circle;
      clip: rect( 0px, $progress-outside-circle, $progress-outside-circle, $progress-outside-circle-half);
    }
    &__mask .fill {
      clip: rect(0px, $progress-outside-circle-half, $progress-outside-circle, 0px);
      background-color: $quaternary-color;
    }
  }
  .inside-circle {
    width: $progress-inside-circle;
    height: $progress-inside-circle;
    border-radius: $border-radius-circle;
    background: $tertiary-color;
    line-height: $progress-inside-circle;
    text-align: center;
    margin-top: $indent-progress-inside-circle;
    margin-left: $indent-progress-inside-circle;
    position: absolute;
    z-index: 100;
    font-size: $font-2-3;
  }
  .title {
    font-size: $font-1-6;
  }
}
