@import '../../styles/theme.scss';
.main {
  width: 100%;
  .about-block,
  .skills-block {
    display: flex;
    margin-left: $indent-70;
  }
  .skills-block {
    justify-content: space-around;
  }
  .main__additional-info {
    background-color: $tertiary-color;
    padding: $indent-two-sides-10-0-65;
  }
}
