@import '../../styles/theme.scss';
.header {
  width: 100%;
  border: 1px solid $light-color;
  color: $light-color;
  margin-top: $indent-20;
  background-color: $header-background-color;
  color: $text-color;
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: $indent-70;
    &__personal-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 auto;
      &_name {
        font-family: 'Baron';
        font-size: $font-75;
        letter-spacing: $letter-spacing-title;
        font-weight: $font-weight-medium;
        font-style: $font-style-normal;
        margin: $indent-two-sides-10-0;
      }
      &_specialization {
        font-family: 'Zhizn';
        font-size: $font-23;
        letter-spacing: $letter-spacing-title;
        font-weight: $font-weight-regular;
        font-style: $font-style-normal;
        line-height: $line-height-20;
      }
    }
  }
}
