@import '../../styles/theme.scss';
.contact-info {
  width: $contact-info-weight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $indent-two-sides-0-10;
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    margin: $indent-two-sides-20-0;
    .item {
      margin: $indent-two-sides-10-0;
      display: flex;
      font-family: 'Comfortaa';
      font-size: $font-1-3;
      letter-spacing: $letter-spacing-title-2;
      font-weight: $font-weight-medium;
      font-style: $font-style-normal;
      position: relative;
      &__name {
        font-weight: $font-weight-semi-bold;
      }
      &__value {
        position: absolute;
        left: $indent-80;
        top: 0;
        width: max-content;
        a,
        a:active {
          text-decoration: none;
          outline: none;
          color: $text-color;
        }
      }
    }
  }
  &__social-list {
    width: inherit;
    & ul {
      display: flex;
      width: inherit;
      justify-content: space-between;
    }
    &_item a {
      display: inline-block;
      width: $social-icon-size;
      height: $social-icon-size;
      margin: $indent-5;
    }
  }
}
