@import '../../styles/theme.scss';
.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $menu-bar-height;
  width: max-content;
  background-color: $text-color;
  border-radius: $border-radius-3;
  color: $light-color;
  margin: $indent-two-sides-20-0;
   :hover {
    background-color: $secondary-color;
  }
  &__item {
    cursor: pointer;
    font-family: 'Typometry Regular';
    font-size: $font-23;
    letter-spacing: $letter-spacing-title;
    font-weight: $font-weight-medium;
    font-style: $font-style-normal;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &_border {
      border-right: 2px solid $light-color;
      padding: $indent-two-sides-0-10;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__item:last-child div {
    border: none;
  }
}
