@import '../../styles/theme.scss';
.about-me {
  height: inherit;
  flex: 1 auto;
  display: flex;
  &__foto-block {
    width: min-content;
    height: 100%;
    &_img {
      margin: $indent-two-sides-0-20;
      width: $foto-weight;
    }
  }
  &__bio {
    padding-right: $indent-20;
    p {
      font-family: 'Comfortaa';
      font-size: $font-23;
      letter-spacing: $letter-spacing-subtitle;
      font-weight: $font-weight-semi-bold;
      font-style: $font-style-normal;
      text-align: justify;
    }
  }
}
